.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}

.spinner {
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 30px 50px;
  text-align: center;
  border-radius: 4px;
}

#byState, #byCourse {
    margin-top: 20px;

}

.search-form {
    margin-bottom: 20px;
}
